# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

.DS_Store
.dart_tool/

.packages
.pub/

build/
example/ios/Flutter/flutter_export_environment.sh
.idea/
.gradle/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/